-#


- $_productCollection=$this->getLoadedProductCollection() 

.category-products
  - $_collectionSize = $_productCollection->count() 
  - $_columnCount = $this->getColumnCount()
  - $i=0
  - foreach ($_productCollection as $_product)
    - if ($i++%$_columnCount==0)
      != <ul class="products-grid">

    - $li_class = (($i-1)%$_columnCount==0) ? first : ( ($i%$_columnCount==0) ? last : '' )
    %li.item(class="#{ $li_class }")
      %a.product-image(href="#{ $_product->getProductUrl() }" title="#{ $this->htmlEscape($this->getImageLabel($_product, 'small_image')) }")
        %img(src="#{ $this->helper('catalog/image')->init($_product, 'small_image')->resize(170) }" width="170" height="170" alt="#{ $this->htmlEscape($this->getImageLabel($_product, 'small_image')) }")
      %h2.product-name
        %a(href="#{ $_product->getProductUrl() }" title="#{  $this->htmlEscape($_product->getName()) }")
          - echo $this->htmlEscape($_product->getName())
      - if($_product->getRatingSummary())
        - echo $this->getReviewsSummaryHtml($_product, 'short')

      - echo $this->getPriceHtml($_product, true)

      .actions
        - if($_product->isSaleable())
          %button.button.btn-cart(type="button" title="#{ $this->__('Add to Cart')} " onclick="setLocation('#{ $this->getAddToCartUrl($_product) }')")
            %span
              %span= $this->__('Add to Cart')
        - else
          %p.availability.out-of-stock
            %span=  $this->__('Out of stock')

        %ul.add-to-links
          - if($this->helper('wishlist')->isAllow()) 
            %li
              %a.link-wishlist(href="#{ $this->helper('wishlist')->getAddUrl($_product) }")
                = $this->__('Add to Wishlist') 

          - if($_compareUrl=$this->getAddToCompareUrl($_product))
            %li
              %span.separator |
              %a.link-compare(href="#{ $_compareUrl }")
                = $this->__('Add to Compare') 

    - if ($i%$_columnCount==0 || $i==$_collectionSize)
      != </ul>


  %script(type="text/javascript")
    != decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])


